h1 p {
	font-family: Arial;
	font-size: 24px;
	color: #000;
}

.succes {
	color: #78AB46;
}

.fail {
	color: #7f0000;
}

.error {
	padding: 6px;
	background-color: #FF5050;
}

p.error:before {
    content: "";
    display: block;
    background: url("../images/icons/silk/exclamation.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 6px 0 0;
}

p.warning {
	padding: 6px;
	background-color: #F5D76E;
}

p.warning:before {
    content: "";
    display: block;
    background: url("../images/icons/silk/error.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 6px 0 0;
}




ul#menubar {
	min-height: 40px;
	padding-left: 42px;
	background-image: url("../images/rsv.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
}

ul#menubar li {
	display: inline;
	float: left; margin-right : 6px;
	background-color: #E51937;
	border-bottom: 6px solid #e51937;
}

#menubar li:hover {
	border-bottom: 6px solid #b7142c;
}

ul#menubar li.active {
	border-bottom: 6px solid #a01126;
}

#menubar li a {
	padding: 6px 12px;
	display: block;
	font-family: Arial;
	font-size: 14pt;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}


#personenlist ul{
	width:40%;
	vertical-align: top;
	float:right;
	list-style: none;
}

#organisatielist ul{
	width:40%;
	vertical-align: top;
	float:left;
	list-style: none;
}


#organisatielist li {
	list-style: none;
	margin-top: 2px;
}

#personenlist li {
	list-style: none;
	margin-top: 2px;
}

#organisatielist li a {
	font-family: Arial;
	font-size: 14px;
	padding-left: 22px;
}

#personenlist li a {
	font-family: Arial;
	font-size: 14px;
	padding-left: 22px;
}


#organisatielist li.organisatie {
	background-image: url("../images/icons/silk/lorry.png");
	background-repeat: no-repeat;
	background-position: left center;
}

#personenlist li.persoon {
	background-image: url("../images/icons/silk/user.png");
	background-repeat: no-repeat;
	background-position: left center;
}

#organisatielist li.new {
	background-image: url("../images/icons/silk/add.png");
	background-repeat: no-repeat;
	background-position: left center;
}
#personenlist li.new {
	background-image: url("../images/icons/silk/add.png");
	background-repeat: no-repeat;
	background-position: left center;	
}



#adressenlist li {
	list-style: none;
	margin-top: 2px;
}

#adressenlist li a {
	font-family: Arial;
	font-size: 14px;
	padding-left: 22px;
}

#adressenlist li.adres {
	background-image: url("../images/icons/silk/email.png");
	background-repeat: no-repeat;
	background-position: left center;
}

#adressenlist li.adres:hover {
	background-image: url("../images/icons/silk/email_edit.png");
	background-repeat: no-repeat;
	background-position: left center;
}

#adressenlist li.adres.correspondentie:after {
	display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: transparent url("../images/icons/silk/star.png") no-repeat;
}

#adressenlist li.new {
	background-image: url("../images/icons/silk/email_add.png");
	background-repeat: no-repeat;
	background-position: left center;
}



